html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body[data-invert='true'] {
  filter: invert(100%);
}
